---
import { getSubtitle, fmtTime } from "@/utils/index";
const { post } = Astro.props;
// 获取文章的副标题 (优先 Note 内容)
const subtitle = getSubtitle(post);
// 获取封面图
import getCover from "@/utils/getCover";
const ARTICLE_COVER: string = await getCover(post.data.cover);
// 文章Item组件样式
import "./ArticleCard.less";
---

<article class={`vh-article-item vh-animation vh-animation-init vh-article-link${post.data.top ? " active" : ""}`}>
	<section class="vh-article-banner"><img src="/assets/images/lazy-loading.webp" data-vh-lz-src={ARTICLE_COVER} alt={post.data.title} /></section>
	<section class="vh-article-content">
		<header>
			<!-- Date and Category Row -->
			<div class="meta-row">
				<time>{fmtTime(post.data.date)}</time>
				<span class="cat-sep">in</span>
				<a class={`vh-article-cat`} href={`/categories/${post.data.categories}`}>{post.data.categories}</a>
			</div>
			
			<h1 class="title"><a href={`/article/${post.data.id}`}>{post.data.title}</a></h1>
		</header>
		
		<p class="vh-article-excerpt line-3">{subtitle}</p>
		
		<div class="vh-article-tags">
			{post.data.tags.map((tag: string) => <a href={`/tag/${tag}`} class="tag-pill">#{tag}</a>)}
		</div>
	</section>
</article>
